<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.1.2-eap" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Core" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net451" />
</packages>